[data-theme="catppuccin_mocha"] {
  --base00: #1E1E2E;  /* Base */
  --base01: #181825;  /* Mantle */
  --base02: #313244;  /* Surface0 */
  --base03: #45475A;  /* Surface1 */
  --base04: #585B70;  /* Surface2 */
  --base05: #CDD6F4;  /* Text */
  --base06: #F5E0DC;  /* Rosewater */
  --base07: #B4BEFE;  /* Lavendar */
  --base08: #F38BA8;  /* Red */
  --base09: #FAB387;  /* Peach */
  --base0A: #F9E2AF;  /* Yellow */
  --base0B: #A6E3A1;  /* Green */
  --base0C: #94E2D5;  /* Teal */
  --base0D: #89B4FA;  /* Blue */
  --base0E: #CBA6F7;  /* Mauve */
  --base0F: #F2CDCD;  /* Flamingo */
}

#colour_mocha > div {
  background-color: #F38BA8;
}
