body {
  margin: 0;
  padding: 0;

  height: auto;

  display: block;

  color: var(--base05);
  background-color: var(--base00);

  font-size: 20px;
}

#main_body {
  display: flex;
  flex-direction: column;

  margin: 8px;
}

#links {
  top: 8px;
  left: 8px;
  right: 8px;

  position: fixed;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: var(--base01);

  height: 56px;

  z-index: 10;
}

#links a {
  text-align: center;
  text-decoration: none;
  display: block;

  color: var(--base05);
  font-size: 40px;
}

#links a:hover {
  color: var(--base0D);
}

#content {
  margin-top: 5vh;

  width: 100%;
}

#about div {
  padding: 8px;

  font-size: 30px;
}

.section {
  display: flex;
  flex-direction: column;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;

  padding: 8px;

  height: 56px;

  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: right;
}

#colourscheme_selector {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.colour_selector {
  width: 30px;
  aspect-ratio: 1;

  border-radius: 20px;

  padding: 5px;
}

.selected {
  background-color: var(--base0D);
}

.colour_selector > div {
  width: 30px;
  aspect-ratio: 1;

  border-radius: 15px;

  background-color: white;

}
